$primary-color: #fa8816;
$primary-color-100: #ffca95;
$primary-color-500: #df7a14;
$primary-color-600: #b26211;
$secondary-color: #3ec4f3;
$secondary-color-300: #25ddd2;
$secondary-color-400: #4af2e8;
$secondary-color-500: #21b7ec;
$gray-color-50: #a7b7bd;
$gray-color-100: #8d999e;
$gray-color-200: #768287;
$gray-color-300: #616a6f;
$gray-color-400: #cfd0d0;
$gray-color-500: #bfbfbf;
$gray-color-600: #2e3235;
$gray-color-700: #222527;
$gray-color-800: #131415;
$green-color: #0ec75f;
$green-color-50: #e0ffee;
$green-color-200: #bed67c;
$green-color-400: #3eeb89;
$green-color-600: #0ec75f;
$green-color-900: #273306;
$black-color-800: #181818;
$red-color-500: #e53937;
$red-color-800: #950c0b;
$bg-site: #1e1e1e;
$bg-header: #0d0f19;
$bg-footer: #0f0f0f;
$bg-left: #111113;
$orange-color-300: #fe9832;
$orange-color-700: #92500d;
$pink-color-300: #ffbebd;
$brown-color-800: #2f260c;

$magenta-color-500: #ff76ec;
$magenta-color-600: #390e34;

$cobalt-color-600: #14294e;

$blue-color-200: #a5c9ff;
$blue-color-500: #21b7ec;
$blue-teal-400: #3ec4f3;

$brown-color-800: #2f260c;

$yellow-color-400: #f0da14;

$cobalt-color-800: #0d1523;

$black-color-500: #313234;
$black-color-600: #292a2c;

$purple-color-200: #a3a1fd;

$red-color-300: #ff8b8a;

$purple-color-300: #6a24fe;
